.authorized {
    background-image: url('../images/vikings.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.unauthorized {
    background-image: url('../images/unauthorized.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
}

.unauthorized h1 {
    font-size: 50px;
    padding-top: 100px;
    padding-bottom: 15px;
}

h1 {
    margin-top: 10px;
    margin-bottom: 0;
    text-shadow: 2px 2px #F5A9A9;
    color: #3B0B0B;
}

h2 {
    text-shadow: 2px 2px #F5A9A9;
    color: #3B0B0B;
}

.background-table {
    background:rgba(255,255,255,0.5);
}

table td {
    border: 1px solid black;
}

.hover {background:rgba(255,0,64,0.3);}

table {
    border: 2px solid black;
}

.hide {
    display: none;
}
/********************************/
#grid-global {
	height: 440px;
	width: 500px;
	background:rgba(255,255,255,0.5);
}

#aircraft-carrier,
#battleship,
#submarine,
#destroyer,
#patrol-boat {
	display: block;
	position: absolute;
}

#aircraft-carrier {
	width: 100px;
	top: 0px;
}

#battleship {
	width: 80px;
	top: 42px;
}

#submarine {
	width: 60px;
	top: 84px;
}

#destroyer {
	width: 60px;
	top: 126px;
}

#patrol-boat {
	width: 40px;
	top: 168px;
}

#table-global {
    position: relative;
}

.rTable {
   	display: table;
   	width: 100%;
}

.rTableCell {
	width: 44px;
	height: 40px;
   	border: 1px solid #999999;
   	background:rgba(255,255,255,0.5);
}

.fit {
	border: 2px solid green;
}

.no-fit {
	border: 2px solid red;
}
.shoot {
    background-color: red;
}

.transparent-background {
    background:rgba(255,255,255,0.5);
}

.table-hits {
    margin: 0 auto;
    width: 100%;
}

.table-hits thead th {
    text-align: center;
}

.hit {
    background-image: url('../images/hit.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-shadow: -1px 0 greenyellow, 0 1px greenyellow, 1px 0 greenyellow, 0 -1px greenyellow;
}

.no-hit {
    background-image: url('../images/no-hit.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-shadow: -1px 0 greenyellow, 0 1px greenyellow, 1px 0 greenyellow, 0 -1px greenyellow;
}

.hit-on-me {
    background-image: url('../images/hit.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: red;
    text-shadow: -1px 0 greenyellow, 0 1px greenyellow, 1px 0 greenyellow, 0 -1px greenyellow;
}

.sunk {
    background-image: url('../images/Red-X.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: transparent;
    text-shadow: -1px 0 greenyellow, 0 1px greenyellow, 1px 0 greenyellow, 0 -1px greenyellow;
}

.background-blue {
    background-color: blue;
}

.not-your-turn {
    background-image: url('../images/opponent-shooting.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 90%;
}

.no-opponent {
    background-image: url('../images/waiting-opo.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 90%;
}

.no-opponent-ships {
    background-image: url('../images/placing-ships.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 90%;
}

.onClickable { pointer-events: auto; }

.offClickable { pointer-events: none; }